<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.videoplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vpicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vpsplash"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoPlayer">
        <activity
            android:name=".playSong"
            android:exported="true" />
        <activity
            android:name=".MusicActivity"
            android:exported="true" />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="true" />
        <activity
            android:name=".allowacessActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".VideoFilesActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplasTheme.VideoPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>